* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {

    background-image: url(./imagens/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

h1 {
    color: rgb(206, 202, 202);
    align-items: center;
    text-align: center;
    font-size: 20px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 3px black;
    padding: 10px;

    
    
    
    
}
.container {
    display: flex;
    flex-direction: column;
    background: transparent;
    backdrop-filter: blur(15px);
    align-items: center;
    border-radius: 10px;
    border: 10px solid rgba(0, 0, 255, 0.047);
    box-shadow: 0px 0px 20px  black;
    min-height: 50vh;
    
    

    

}

form {

gap: 20px;

}

form input {

    text-align: center;
    max-width: 50%;
    height: 20px;
    border-radius: 20px;
    
}

form input:focus {

    background-color: bisque;
    border: solid rgb(255, 238, 0);
    border-radius: 50px;
    height: 30px;
    
}

form select {
    text-align: center;
    height: 30px;
    box-shadow: 1px 1px 5px;
    border-radius: 20px;
    text-shadow: 1px 1px 3px;
}

.outpSubMedida {
    min-width: 100%;
}

form select:focus {

    border-radius: 0px;
    
}

.Converte {

    width: 100px;
    height: 40px;
    background-image: linear-gradient(to left, rgb(0, 132, 255), rgb(0, 255, 247), rgb(179, 0, 255));
    animation: button 5s infinite alternate;
    background-size: 300%, 100%;
    transition: all 0.7s;
    border-radius: 20px;

}

.Converte:hover {

    background:green;
    transition: 2s;
}

.hide-input {
    display: none;
}

@keyframes button {
    0% {
        background-position-x: 0%;

    }

    100% {
        background-position-x: 100%;
    }
}

